﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-5 mb-4 rounded-3" style="background: linear-gradient(to right, #000000, #01A0); color: white;">
    <h1 class="display-4 fw-bold">Examen Progreso 1</h1>
    <p class="lead">¡Califique con corazón de padre pls!</p>
</div>
<div class="text-center">
    <img src="@Url.Content("~/Images/meme1.png")" class="rounded" alt="Imagen 1">
</div>
